
.translucentLayer
{
    position: fixed;
    display: block;
    background-color: rgb(29, 29, 29);
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 200;
    opacity: 0.5;
}
.loginOuterContainer
{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}
.loginContainer
{   
    opacity: 1.0;
    display: block;
    color: white;
    font-family: Poppins;
    background-color: rgb(29, 29, 29);
    height: 600px;
    width: 900px;    
}
.loginDeactivate
{
    display: none;
}

