
.translucentLayer
{
    position: fixed;
    display: block;
    background-color: rgb(29, 29, 29);
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 200;
    opacity: 0.5;
}
.loginContainer
{   
    position: fixed;
    opacity: 1.0;
    display: block;
    color: white;
    font-family: Poppins;
    top: 100px;
    z-index: 300;
    background-color: rgb(29, 29, 29);
    height: 80%;
    width: 80%;
    
}
.loginDeactivate
{
    display: none;
}

