
.createPostPageContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.createPostHeaderContainer
{

}

.createPostMobile
{
    display: none;
}
.createPostBodyContainer
{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.headerStyle
{
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
}
.titleField
{
    display: block;
    width: 600px;
    margin: .9vw 0;
    padding-left: 10px;
    padding-right: 10px;
    border:0;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    appearance:none;
    outline: none;
    font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


} 
.bodyField
{
    
    box-sizing: border-box;
    border: none;
    appearance:none;
    outline: none;
    width: 600px;
    height: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
} 


.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 18px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}

.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

/* draft js */
.createPostDesktop
{
    display: block;
}
@media screen and (max-width: 1000px)
{

    .createPostMobile
    {
        display: block;
    }
    .createPostDesktop
    {
        display: none;
    }
}

