
.formContainer
{
    background-color: rgb(29, 29, 29);
    height: 100%;
    margin-top: 70px;
}

.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    
}

.inputsClass
{
    width: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formClass
{
    display:flex;
    flex-direction: column;
    align-items: center;
}