

.deactivate
{
    display:none;
}
.homeContainer
{
    background-color: rgb(29, 29, 29);
    height: 100%;
    margin-top: 70px;
    position: relative ; 
    
}



.titleStyle
{
    font-size: 30px;
}
.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    
}
.buttnContainer
{
    display: flex;
    color: #fff;
    width: 60%;
    height: 100px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;

    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.launchItemContainer
{
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-right: 15%;
    margin-left: 15%;
}
.imgContainer
{
    display: block;
    max-width: 250px; 
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: cover;
}


.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 18px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.textContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 1000px)
{
    .buttnContainer
    {
        /* flex-direction: column;
        align-items:center;
        justify-content: center; */

        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
    .launchItemContainer
    {
        margin-top: 20px;
        color: #fff;
    }

}