


.homeContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  black;
    height: 100%;
    margin-top: 70px;
    position: relative ; 
    padding-bottom: 40px;    
}
.headerStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    margin-bottom: 50px;
    
}
.buttnBarContainer
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* The rest */
    outline: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    /* background-color: rgb(25, 25, 25); */
    border-radius: 5px;
    /* border: 2px solid rgb(80,80,80); */
    margin-bottom: 25px;

}
/* .barButtnContainer
{
    position: relative;
    height: 54px;
    background-color: rgb(80,80,80);
    border-radius: 20px;
    margin-right: 50px;
} */
.barButtnContainer
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* The rest */
    outline: none;
    position: relative;
	background-color: rgb(117,35,35);
    border-radius: 20px;
    margin-right: 50px;
    
}
.buttnBarButtn
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* The rest */
    outline: none;
	/* background-color: Transparent; */
	background-color: rgb(117,35,35);
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(117, 35, 35); */
	color: white;
	padding: 12px 23px;
    border-radius: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	/* margin: 4px 10px; */
	cursor: pointer;
}
.buttnBarButtn:hover
{
	background-color: rgb(117,35,35);
    /* background-color: rgb(80,80,80); */

	transition: all 0.1s ease-out;
}
.buttnBarButtn_active
{
    background-color: rgb(117,35,35);
    /* background-color: rgb(80,80,80); */

	transition: all 0.1s ease-out;
}
.buttnBar_text
{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iconRotate
{
    margin-top:10px;
    transform: rotate(90deg);
    margin-left: 10px;
}

.mobileDropdownMenu
{
    display: none;
}
.desktopBarDropDownMenu
{
    position: absolute;
    top: 90%;
    left: 0%;
    background-color: rgb(25, 25, 25);
    z-index: 1000000;
    color: white;
    width: 90%;
}
.barDropDownMenuElement
{
    color: rgb(80, 80, 80);
    cursor:pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 500;

}
.barDropDownMenuElement:hover
{
    color: rgb(200,200,200);
    background-color:rgb(80, 80, 80);
}
.barDropDownMenuElement_active
{
    color: rgb(200,200,200)
}


.textContainer
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.launchItemContainer
{
    position: relative;
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 1050px;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    border: 2px solid rgb(80,80,80);
}
.imgContainer
{
    display: block;
    max-width: 250px; 
    width: auto;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.titleContainer
{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleStyle
{
    font-size: 30px;
    width: 85%;
    margin-right: 5%
}
.statusStyle
{
    text-transform: uppercase;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.greenStatusStyle
{
    background-color: green;
    font: white;
    font-weight: bolder;
    border-radius: 50px;

}
.redStatusStyle
{
    background-color: red;
    font: white;
    font-weight: bolder;
    border-radius: 50px;
}
.invisStyle
{
    display: none;
}


.locationNameStyle
{
    margin-bottom: 10px;
}
.padNameStyle
{
    margin-bottom: 20px;
}
.descriptionStyle
{
    margin-bottom: 20px;
    text-align: left;
}
.timeLeftStyle
{
    margin-bottom: 10px;
    font-size: 30px;
}
.timeLeftStyle2
{
    margin-bottom: 10px;
    font-size: 30px;
    display:flex;
    flex-direction: row;

}
.timeElementClass
{
    margin-right: 5px;
    margin-left: 5px;
}
.subtitleClass
{
    font-size: 15px;
}
.buttnContainer
{
    display: flex;
    color: #fff;
    width: 60%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 18px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}
.button_active
{
    background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}




@media screen and (max-width: 1100px)
{
    .buttnContainer
    {
        /* flex-direction: column;
        align-items:center;
        justify-content: center; */

        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
    .launchItemContainer
    {
        width: 800px;
        margin-top: 20px;
        color: #fff;
    }
    .buttnBarContainer
    {
        width: 800px;
    }

}

@media screen and (max-width: 900px)
{
    .launchItemsContainer
    {

    }
    .launchItemContainer
    {
        width: 600px;
        margin-top: 20px;
        color: #fff;
        flex-direction: column;
        
    }
    .buttnBarContainer
    {
        width: 600px;
    }
    .imgContainer
    {
        max-height: 350px;
        max-width: 600px;
        
    }
    .textContainer
    {
        padding:20px;
        width: auto;

    }

}

@media screen and (max-width: 700px)
{
    .mobileDropdownMenu
    {   
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 90%;
        width: 90%;
        background-color: rgb(25, 25, 25);
        border: 1px solid rgb(80,80,80);
        z-index: 1000000;
        color: white;

    }
    .mobileDropDownMenuElement
    {
        color: rgb(80, 80, 80);
        cursor:pointer;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 500;

    }
    .mobileDropDownMenuElement:hover
    {
        color: rgb(200,200,200);
        background-color:rgb(80, 80, 80);
    }
    .mobileDropDownMenuElement_active
    {
        color: rgb(200,200,200)
    }
    .mobileDropDownMenuElement
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .homeContainer
    {
        width: 100%;
    }
    .launchItemsContainer
    {
        width: 100%;

        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .launchItemContainer
    {
        width: 100%;
        margin-top: 20px;
        color: #fff;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right:0;
    }
   
    .imgContainer
    {
        max-height: 350px;
        max-width: 740px;
        
    }
    .textContainer
    {
        width: auto;
    }
    .titleContainer
    {
        flex-direction: column;
    }
    .statusStyle
    {
        margin-bottom:5px;
        margin-top: 5px;
    }
    .desktopBarDropDownMenu
    {   
        left:0;
        width: 100vw;
        
    }
    .buttnBarContainer
    {
        width:100%;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* The rest */
        outline: none;
    }
    .barButtnContainer
    {
        margin: 0;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* The rest */
        outline: none;
    }
    
    .buttnBarButtn
    {   
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* The rest */
        outline: none;

    }
    .barButtnContainer
    {
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* The rest */
        outline: none;

    }
    
    .desktopBarDropDownMenu
    {
        display: none;
    }
}
@media screen and (max-width: 360px)
{
    .buttnBarButtn
    {   
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* The rest */
        outline: none;

    }
    .barButtnContainer
    {
        margin-right: 6px;
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* The rest */
        outline: none;

    }
    
}
.deactivateOnClick
{
    display: none;
}

.deactivate
{
    display:none;
}