
.loginContainer
{
    position: relative;
    background-color: rgb(29, 29, 29);
}

.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    
}

.formClass
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.inputsClass
{
    width: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errMsgClass
{
	color: red;
	
}

.buttonContainer
{
    position: fixed;
	display: flex;
    flex-direction: column;
    top: 320px;
    left: 350px;

}
.XButtonClass
{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 1px 3px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}
.XButtonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 18px 40px;
	text-align: center;
	text-decoration: none;
	
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.forgotUserinfoClass
{
    display: flex;
    flex-direction: row;
}


.middleTxt
{
    margin-left: 4px;
    margin-right: 4px;
}