
.loginContainer
{
    background-color: rgb(29, 29, 29);
    height: 100%;
    margin-top: 70px;
}

.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    
}

.formClass
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.inputsClass
{
    width: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errMsgClass
{
	color: red;
	
}

.buttonContainer
{
    position: fixed;
	display: flex;
    flex-direction: row;
    top: 320px;
    left: 350px;

}
.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 18px 40px;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
    /* position: fixed; */
    /* top: 320px; */
    /* left: 350px; */
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

