
.loginContainer
{
    position: relative;
	display:flex;
	flex-direction: row;
    background-color: rgb(29, 29, 29);
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: auto;
	
}
.overFlowDeactivate
{
	overflow: hidden;
}
.rocketWallpaperOuterContainer
{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	overflow:hidden;
}
.rocketWallpaperStyle
{
	width: 900px;
	height: 1500px;
	overflow: hidden;
	z-index: 999;
}
.loginContentContainer
{	
	position: relative;
	width: 700px;
	margin-left: 200px;
	height: 100%;
}
.loginWritingContainer
{
	width: 100%;
	height: 100%;
	position: absolute;
}
.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 20px;
	margin-bottom: 50px;
}

.formClass
{
    display:flex;
    flex-direction: column;
    align-items: center;
	width: 100%; 
	height: 350px;
}
.orClass
{
	color: rgb(80,80,80);
	margin-top: 30px;
	margin-bottom: 30px;
}
.inputsClass
{
    width: 280px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	
}
.textareaStyle
{
	box-sizing: border-box;
    /* border: none; */
	border: 1px solid rgb(80, 80,80);
	border-radius: 0px;
	background-color: rgb(25, 25, 25) !important;
	color: white !important;
    appearance:none;
    outline: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    resize: vertical;
}

.textareaStyle:focus
{
	border: 1px solid white;
}
.errMsgClass
{
	color: red;
	font-size: 13px;
}

.buttonContainer
{
	display: flex;
    flex-direction: column;
 

}
.XButtonClass
{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: Transparent;
	border: none;
	color: white;
	padding: 1px 3px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
	z-index: 900000;
}
.XButtonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: .10rem;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px; 
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
	width: 250px;
	
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.forgotUserinfoClass
{
    display: flex;
    flex-direction: row;
}

.anchorForgotInfoClass
{
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

.leftTxt
{
	margin-right: 4px;
}
.middleTxt
{
    margin-left: 4px;
    margin-right: 4px;
}





/* close out */
@media screen and (max-width: 1000px)
{
	.rocketWallpaperOuterContainer
	{
		display: none;
		height: 100%;
	}
	.formClass
	{
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 100%; 
		height: auto;
		padding-bottom: 50px;
	}

	.loginContentContainer
	{	
		margin-left: 0px;
		width: 100%;
		/* display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; */
	}
	.loginWritingContainer
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
}

@media screen and (max-height: 630px)
{
	.loginContainer
	{
		height: 100vh;
		overflow: auto;
	}
	.rocketWallpaperOuterContainer
	{
		height: 630px;
	}
	.loginWritingContainer
	{
		position: absolute;
		top: 0px;
	}
	.loginWritingContainer
	{
		display: block;
	}
}