/* overall container */
.postsPageContainer
{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
/* old create post styling */
.createPostClass
{
    margin-top: 50px !important;
    margin-bottom: 20px !important; 
}
.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    
}
/* create post styling */
.createPostContainer
{
    margin-top: 50px;
    margin-bottom:30px;
    height:100px;
    width: 1050px;
    background-color: rgb(25, 25, 25);
    border:  2px solid rgb(80,80,80);
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.linkCreatePostField
{
    display:flex; 
    flex-direction: row;
    align-items: center;
    height: 50px;
    color: rgb(120,120,120);
    background-color: rgb(35,35,35);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    border:  2px solid rgb(80,80,80);
    text-align: left;
    text-decoration: none;
    cursor:text;

}
.linkCreatePostField:hover
{
    border:  2px solid rgb(255,255,255);
    background: rgb(20,20,20);
}
/* end create post style */
/* dropdown styling */
    /* dropdown button */
.buttnBarContainer
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* The rest */
    outline: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 25px;

}

.barButtnContainer
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* The rest */
    outline: none;
    position: relative;
	background-color: rgb(117,35,35);
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 25px;
}
.moreBarButtnContainer
{
    display: none;

}
.moreButtnElementBackgroundClass
{
    display:flex; 
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color:rgb(80,80,80);
    border: 0px;
    cursor:pointer;
}
.moreButtnElementBackgroundClass:hover
{
    background-color: rgb(35,35,35);
    color: white;
}
.buttnElementBackgroundClass2
{
    display:flex; 
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    background-color: rgb(25, 25, 25);
    border: 0px;
    color:rgb(80,80,80);
    cursor:pointer;
    width: 90px;
    height: 40px ;
}
.buttnElementBackgroundClass2:hover
{
    background-color: rgb(35,35,35);
    color: white;
}
.buttnBarButtn
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* The rest */
    outline: none;
	background-color: rgb(117,35,35);
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	color: white;
	padding: 15px 27px;
    border-radius: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
    
	cursor: pointer;
}
.buttnBarButtn:hover
{
	background-color: rgb(117,35,35);

	transition: all 0.1s ease-out;
}
.buttnBarButtn_active
{
    background-color: rgb(117,35,35);

	transition: all 0.1s ease-out;
}
.buttnBar_text
{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iconRotate
{
    margin-top:10px;
    transform: rotate(90deg);
    margin-left: 10px;
}
    /* dropdown menu */
.desktopBarDropDownMenu
{
    position: absolute;
    top: 90%;
    left: 0%;
    background-color: rgb(25, 25, 25);
    z-index: 1000000;
    color: white;
    width: 93%;
}
.desktopMoreBarDropDownMenu
{
    position: absolute;
    top: 90%;
    left: 0%;
    background-color: rgb(25, 25, 25);
    z-index: 1000000;
    color: white;
    width: auto;
    border: 1px solid rgb(80, 80,80);
}
.barDropDownMenuElement
{
    color: rgb(80, 80, 80);
    cursor:pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 500;

}
.barDropDownMenuElement:hover
{
    color: rgb(200,200,200);
    background-color:rgb(80, 80, 80);
}
.barDropDownMenuElement_active
{
    color: rgb(200,200,200)
}
.mobileDropdownMenu
{
    display: none;
}

/* post cards styling */
.postsBodyContainer
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.postContainer
{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border:  2px solid rgb(80,80,80);
    width: 1050px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;

}
.postContainer:hover
{
    border:  2px solid rgb(200,200,200);

}
.postContentClass
{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 0;

}
/* likes styling */
.desktopLikesContainer
{   
    display: flex;
    flex-direction: column;
    color: rgb(80,80,80);
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.mobileLikesContainer
{
    display: none;
}
.likeBackgroundClass_active
{
    color: red !important;
}

.likeBackgroundClass
{
    display:flex; 
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color:rgb(80,80,80);
    border: 0px;
    cursor:pointer;
}
.likeBackgroundClass:hover
{
    background-color: rgb(35,35,35);
}
.likeClass
{
    display: block;
    
}
.likeClass:hover
{
    color: rgb(117,35,35)
}
.likeCounterClass_active
{
    color: red;
}
/* end likes styling */

/* comment elements */
.buttnElementBackgroundClass
{
    display:flex; 
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color:rgb(80,80,80);
    border: 0px;
    cursor:pointer;
}

.buttnElementBackgroundClass:hover
{
    background-color: rgb(35,35,35);
    color: white;
}
.commentButtnElementBackgroundClass
{
    display:flex; 
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color:rgb(80,80,80);
    border: 0px;
    cursor:pointer;
}


.buttnDisplayTextLong
{

}
.buttnDisplayTextShort
{
    display: none;
}
/* post main text styling. */
.postMainTextClass
{
    text-decoration: none;
    display:block;
    color: #fff;
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
    overflow-wrap: break-word
}
.postTitle
{
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.postContent
{
    margin-top: 20px;
    font-size: 15px;
}

.postAuthor
{
    margin-top: 5px;
    color: rgb(80,80,80);
    font-size: 12px;
}
/* end post main text styling. */

.buttonListClass
{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
    display:flex;
    flex-direction: row;
}
.buttonClass
{
	background-color: rgb(117, 35, 35);
    /* background-color: red; */
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 18px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
    z-index: 9001;
    border-radius: 20px;
    left: 0;
    margin-bottom: 20px;
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}





@media screen and (max-width: 1100px)
{
    .createPostContainer
    {
        width: 800px;
    }
    .postContainer
    {
        width: 800px;
        /* margin-top: 20px; */
    }
    .buttnBarContainer
    {
        width: 800px;
    }
    
}

@media screen and (max-width: 900px)
{
    
    .createPostContainer
    {
        width: 600px;     
    }
    .postContainer
    {
        width: 600px;
    }
    .buttnBarContainer
    {
        width: 600px;
    }
}

@media screen and (max-width: 700px)
{
    /* dropdown menu */
    .mobileDropdownMenu
    {   
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 90%;
        width: 90%;
        background-color: rgb(25, 25, 25);
        border: 1px solid rgb(80,80,80);
        z-index: 1000000;
        color: white;

    }
    .mobileDropDownMenuElement
    {
        color: rgb(80, 80, 80);
        cursor:pointer;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 500;

    }
    .mobileDropDownMenuElement:hover
    {
        color: rgb(200,200,200);
        background-color:rgb(80, 80, 80);
    }
    .mobileDropDownMenuElement_active
    {
        color: rgb(200,200,200)
    }
    .mobileDropDownMenuElement
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }  
    /* ****** POST CONTAINERS BEGIN!!!! ******** */
    /* likes within post container */
    .desktopLikesContainer
    {
        display: none;
    }
    .mobileLikesContainer
    {
        display: flex;
        flex-direction: row;
        color: rgb(80,80,80);
        align-items: center;
        justify-content: space-between;
        width: 110px;
    }
    
    /* buttons within post container*/
    .buttonListClass
    {
        padding-left: 20px;
    }
        /* for placing comments button correctly */
    .buttnElementBackgroundClass
    {
        margin-left: 10px;
    }
    /* general page container */
    .postsPageContainer
    {
        width: 99%;
    }
    .createPostContainer
    {
        width: 100%;
    }
    .postContainer
    {
        width: 99vw;
        border-radius: 0;
    }
    .buttnBarContainer
    {
        width: 100%;
    }

}

@media screen and (max-width: 530px)
{
    .buttnBarButtn
    {
        padding-left: 10px;
        padding-right: 10px;

    }
    .buttnDisplayTextLong
    {
        display: none;
    }
    .buttnDisplayTextShort
    {
        display: block;
    }
    .commentButtnElementBackgroundClass
    {
        margin-left:    30px;
        margin-right: 10px;
    }
    .moreBarButtnContainer
    {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* The rest */
        outline: none;
        display: block;
        position: relative;
        background-color: rgb(25, 25, 25);
        color:rgb(80,80,80);
        border: 0px;
        cursor: pointer;
    }
    .buttnElementBackgroundClass
    {
        display: none;
    }
}

.deactivateOnClick
{
    display: none;
}

.deactivate
{
    display:none;
}