
.postPageContainer
{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}

.postBodyContainer
{
    margin-top : 10px;
    display:flex;
    flex-direction: row;
    border-radius: 5px;
    height: 100%;
    width: 800px;
    padding-bottom: 50px;
    background-color: rgb(25, 25, 25);
    text-align: left;
}
.postBodyContentContainer
{
    display: block;
    margin-top: 6px;
}

.desktopLikesContainer
{
    display: flex;
    flex-direction: column;
    color: rgb(80,80,80);
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    margin-top: 5px;
}
.likeBackgroundClass
{
    display:flex; 
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color:rgb(80,80,80);
    border: 0px;
    cursor:pointer;
}
.likeBackgroundClass:hover
{
    background-color: rgb(35,35,35);
}

.likeBackgroundClass_active
{
    color: red !important;
}
.likeClass
{
    display: block;
    
}
.likeClass:hover
{
    color: rgb(117,35,35)
}
.likeCounterClass_active
{
    color: red;
}
.mobileLikesCounter
{
    
}
.authorClass
{
    display: block;
    color: rgb(80,80,80);
    font-size: 12px;
}
.titleStyle
{
    display: block;
    padding-top: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.contentStyle
{
    display: block;
    color: #fff;
    padding-top: 10px;
    font-size: 15px;
    color: #fff;


}
.createCommentOuterContainer
{
    background-color: rgb(25, 25, 25);
    display:flex; 
    flex-direction: column;
    align-items: center;
    width: 800px;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 15px;
}
.createCommentContainer
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin-top: 30px;

}
.commentAuthor
{
    width: 100%;
    color: rgb(250,250,250);
    text-align: left;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 5px;

}
.createCommentField
{
    box-sizing: border-box;
    border: none;
    appearance:none;
    outline: none;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.commentsBodyContainer
{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 300px;
    width: 800px;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    padding: 10px;
}

.commentBodyContainer
{
    display:block;
    border: 0px;
    padding: 0px;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
}
.commentText
{
    color: #fff;
}

.commentButtonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 12px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}

.commentButtonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 12px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: .10rem;
	font-weight: 400;
	margin: 4px 10px;
	cursor: pointer;
}

.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}

.empty
{
    display: none;
}
@media screen and (max-width: 1100px)
{
    .postBodyContainer
    {
        width: 800px;
    }
    
    
    
}

@media screen and (max-width: 900px)
{
    
    .postBodyContainer
    {
        width: 600px;     
    }
    
    .createCommentOuterContainer
    {
        width: 600px;
    }
    .createCommentContainer
    {
        width: 500px;
    }
    .commentsBodyContainer
    {
        width: 600px;
    }

}
@media screen and (max-width: 700px)
{
    .desktopLikesContainer
    {
        display: none;
    }

    .postBodyContainer
    {
        width: 99vw;
        border-radius: 0;
    }
    .createCommentOuterContainer
    {
        width: 99vw;
        border-radius: 0;
    }
    .createCommentContainer
    {
        width: 90vw;
    }
    .commentsBodyContainer
    {
        width: 99vw;
    }
}

.deactivate
{
    display:none;
}