
.postPageContainer
{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}

.postBodyContainer
{
    margin-top : 10px;
    display:block;
    border: 1px solid rgb(117, 35, 35);
    height: 400px;
    width: 80%;
    padding-bottom: 10px;
}

.titleStyle
{
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
}

.contentStyle
{
    display: block;
    color: #fff;
    font-size: 20px;
    color: #fff;


}