.profilePageContainer
{
    margin-top: 70px;
}
.textStyle
{   
    display: block;
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
    
}
.postsBodyContainer
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.postContainer
{
    position: relative;
    display:block;
    margin-top: 20px;
    border: 1px solid #000;
    width: 70%;
    height: 150px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;


}
.postLinkClass
{
    text-decoration: none;
    display:block;
    color: #fff;
    width: 100%;
    height: 100%;

}
.postTitle
{
    font-size: 25px;
}

.postContent
{
    font-size: 15px;
}