OPEN_WEATHER_API_KEY = "4a58902cee60b17a360376ce16772f77"
DB_USERNAME_DEV = "<INSERT_YOUR_SQL_USERNAME_HERE>"
DB_PASSWORD_DEV =  "<INSERT_YOUR_SQL_PASSWORD_HERE>"
DB_DATABASE_DEV = "<INSERT_YOUR_SQL_DATABASE_NAME_HERE>"
DB_HOST_DEV = "<INSERT_YOUR_SERVER_DOMAIN_HERE>"
DB_PORT_DEV =  "<INSERT_YOUR_SQL_PORT_HERE>"

DB_USERNAME_PRODUCTION = "<INSERT_YOUR_SQL_USERNAME_HERE>"
DB_PASSWORD_PRODUCTION =  "<INSERT_YOUR_SQL_PASSWORD_HERE>"
DB_DATABASE_PRODUCTION = "<INSERT_YOUR_SQL_DATABASE_NAME_HERE>"
DB_HOST_PRODUCTION = "<INSERT_YOUR_SERVER_DOMAIN_HERE>"
DB_PORT_PRODUCTION =  "<INSERT_YOUR_SQL_PORT_HERE>"

SPACE_API_THROTTLE_THRESHOLD = "<INSERT_YOUR_SPACE_API_CALL_THRESHOLD_HERE>"


