
/* main container to hold items */
.containerMain
{
	position: fixed;
    background-color: rgb(25,25,25);
	/* background-color: rgb(0,0,0); */
	width: 100vw;
	height: 70px;
    top: 0px;
	display:flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
    z-index: 100;
	overflow-x: hidden;	
	overflow-y:hidden;
	border-bottom: 2px solid rgb(50,50,50); 
	


}

/* container to hold linekd items. */
.navLinkItems
{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
    z-index: 100;
	overflow-x: hidden;	

}
/* container to hold HOME only. */
.navHome
{	
	position: absolute;
	left: 8vw;
	padding: 0;
	margin: 0;
	text-align: left;
	cursor: pointer;
	color: #fff;
}
.navHomeAnchor
{
	padding-top: 5px;
	padding-bottom: 5px;
}
	/* image css of the specific home components. */
.rocketLogo
{
	width: auto;
	height: 60PX;
	z-index: 999;
}
.spaceLaunchTxt
{
	width: auto;
	height: 45PX;
	margin-left:10px;
}
/* container to hold posts, login, signup, logout, etc. using ul and li's. style for ul, li , etc. is included below. */
.navMain
{
	position: absolute;
	/* right: 20px; */
	right: 8vw; 
	height: 70px;
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
	/* margin-right: 4vw; */
    
}
	/* styling for ul, li's, and anchors */
.navMainUl
{
    position: relative;
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
	display:flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}
.navMainLi
{
	width: 100px;
	height: 70px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items:center;
	margin: 0;
	padding: 0;
	text-decoration: none;

}
.navMainAnchor
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform:uppercase;
	text-decoration: none;
	color: white;
	height: 55px;
	border-bottom: 2px solid transparent;

}
	/* styling for underlining links on hover. */
.specialUnderlineClass
{

}
.specialUnderlineClass:hover
{
	
	border-bottom: 2px solid red;

}

	/* styling for signup button only. */
.signupClass
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform:uppercase;
	text-decoration: none;
	color: white;
	height: 55px;
	border-bottom: 2px solid transparent;
}
.specialButtn
{

	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
	height: auto;
}
.specialButtn:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}
	/* styling for logout button only. */
.logoutButton
{
	height: auto;
	color: white;

}
.logoutButton:hover
{
	background-color: rgb(40,40,40);
}

/* container to style posts specifically. this is outside of navmain. */
.navPostsContainer
{
	display: none;
}
.navMainLiPosts
{
	width: 100px;
	height: 70px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items:center;
	margin: 0;
	padding: 0;
	text-decoration: none;	
}

/* ************************* on logout, display the following CSS instead, basically a c/p from mobile:  ************************* */
/* main container to hold items */
.containerMain.openLoggedIn
{
	position: fixed;
	background-color: rgb(25,25,25);
	/* background-color: rgb(0,0,0); */
	width: 100vw;
	height: 200px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	overflow-x: hidden;	
	border-bottom: 2px solid rgb(25,25,25); 
	top: 0px;
	overflow-y:hidden;
}
/* this is to add transition to the nav bar container main expanding out. */
.transitionLoggedIn
{
	transition:all 0.2s ease-out;
}
/* container to hold linekd items. */
.navLinkItemsLoggedIn
{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	overflow-x: hidden;	
}
/* nav home. */
.navHomeLoggedIn
{
	position: absolute;
	padding: 0;
	margin: 0;
	text-align: left;
	cursor: pointer;
	color: #fff;
	top: 5px;
	left: 8vw;
	z-index: 10000000000;
	
}
.navHomeAnchorLoggedIn
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-transform:uppercase;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	height: auto;
}
	/* image css. */
.rocketLogoLoggedIn
{
	width: auto;
	height: 60PX;
	z-index: 999;
}
.spaceLaunchTxtLoggedIn
{
	width: auto;
	height: 40PX;
	margin-left:10px;
}
/* container to hold posts, and navbutton */
.navMain2LoggedIn
{
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 5px;
	right: 6vw;
	height: 60px;
}
/* container to hold posts, login, signup, logout, etc. using ul and li's. style for ul, li , etc. is included below. */
.navMainLoggedIn
{
	/* right: 8vw;  */
	position:absolute;
	right:calc( 12vw );
	top: 20px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 220px;
	color: #fff;
	font-family: Poppins;
	font-size: 13px;
	text-align: center;		

}
	/* styling for ul, li's, and anchors */
.navMainUlLoggedIn
{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 0;
	display:flex;
	flex-direction: column;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;

}
.navMainLiLoggedIn
{

	width: 100%;
	height: 50px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	display: flex;
	align-items:center;
	cursor: pointer;
	margin: 0;
	text-align: center;
	text-decoration: none;

}
.navMainAnchorLoggedIn
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform:uppercase;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	height: auto;
}
	/* styling for sign up button */
.specialButtnLoggedIn
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
	height: auto;
	left: -20px;

}
.signupClassLoggedIn
{
	position: absolute;
	height: auto;
	margin:0;
	left: 0px;
}

/* specific styling for nav posts. */
.navPostsContainerLoggedIn
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 100%;
	width: 100px;
}
.navMainLiPostsLoggedIn
{
	display: none;
}
.navPostsAnchorLoggedIn
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0px;
	text-transform:uppercase;
	text-decoration: none;
	color: white;
	height: 30px;
	border-bottom: 2px solid transparent;
	z-index: 10000;
}


@media screen and (max-width: 1000px)
{
	/* main container to hold items */
	.containerMain.open
	{
		position: fixed;
		background-color: rgb(25,25,25);
		/* background-color: rgb(0,0,0); */
		width: 100vw;
		height: 200px;
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		overflow-x: hidden;	
		border-bottom: 2px solid rgb(25,25,25); 
	}
	/* this is to add transition to the nav bar container main expanding out. */
	.transition
	{
		transition:all 0.2s ease-out;
	}
	/* container to hold linekd items. */
	.navLinkItems
	{
		width: 100%;
		height: 100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		overflow-x: hidden;	
	}
	/* nav home. */
	.navHome
	{
		top: 10px;
		left: 35px;
		z-index: 10000000000;
	}
	.navHomeLoggedIn
	{
		top: 10px;
		left: 35px;
		z-index: 10000000000;
		
	}
	.navHomeAnchorLoggedIn
	{
	}

		/* image css. */
	.rocketLogo
	{
		display: none;
	}
	.rocketLogoLoggedIn
	{
		display: none;
	}
	.spaceLaunchTxt
	{
		width: auto;
		height: 40PX;
		margin-left:10px;
	}
	/* container to hold posts, login, signup, logout, etc. using ul and li's. style for ul, li , etc. is included below. */
	.navMain
	{
		position:absolute;
		right: 45px;
		top: 20px;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 220px;
		color: #fff;
		font-family: Poppins;
		font-size: 13px;
		text-align: center;		
		
	}
	
		/* styling for ul, li's, and anchors */
	.navMainUl
	{
		width: 100%;
		height: 100px;
		padding: 0;
		margin: 0;
		display:flex;
		flex-direction: column;
		list-style-type: none;
		justify-content: space-between;
		align-items: center;

	}
	.navMainLi
	{
		width: 100%;
		height: 50px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 7px;
		padding-bottom: 7px;
		display: flex;
		align-items:center;
		cursor: pointer;
		margin: 0;
		text-align: center;
	}
	.navMainAnchor
	{
		height: auto;
	}
		/* styling for sign up button */
	.specialButtn
	{
		left: -20px;

	}
	.signupClass
	{
		position: absolute;
		height: auto;
		margin:0;
		left: 0px;
	}
	
	/* specific styling for nav posts. */
	.navPostsContainer
	{
		position: relative;
		display: block;
		cursor: pointer;
		padding-bottom: 5px;
		padding-top: 5px;
		height: 100%;
		width: 150px;
	}
	.navMainLiPosts
	{
		display: none;
	}
	.navPostsAnchor
	{
		position: absolute;
		top: -70px;
		left: 0px;
		padding-top: 100px;
		text-transform:uppercase;
		text-decoration: none;
		color: white;
		height: 30px;
		border-bottom: 2px solid transparent;
	}
	
	
	
}


.deactivate
{
	display: none;
}